/* Variables */
:root {
  --maincolor: #07f;
  --nav-links-color: #333;
  --white: #fff;
  --dark-brown: #222;
}

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  border: none;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* Container Styles */
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;
}

/* Header Styles */
header .container {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav ul {
  display: flex;
}

header .container nav ul li {
  padding-right: 40px;
}

header .container nav ul li a {
  color: var(--nav-links-color);
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
}

header .container .Chat-container button {
  padding: 17px 33px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  background: var(--maincolor);
  color: var(--white);
  cursor: pointer;
}

/* Toggle Menu for Mobile */
@media (max-width: 992px) {
  header .container nav,
  header .container .Chat-container {
    display: none;
  }

  header .container .Toggle-Menu {
    display: flex;
    justify-content: flex-end;
  }
}

/* Hero Section Styles */
.hero {
  padding: 100px 0;
  position: relative;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pfp-image {
  position: absolute;
  right: 0;
  top: 0;
}

.pfp-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.hero .container .Welcome,
.hero .container h1,
.hero .container .Describtion {
  color: var(--dark-brown);
}

.hero .container .Welcome {
  font-weight: 600;
  font-size: 25px;
}

.hero .container h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
}

.hero .container h1 span {
  font-size: 70px;
  color: var(--maincolor);
}

.hero .container .Describtion {
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
}

.hero .container .Buttons {
  margin-top: 50px;
}

.hero .container .Buttons .Hire,
.hero .container .Buttons .cv {
  padding: 17px 33px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

/* Responsive for Smaller Screens */
@media (max-width: 1200px) {
  .hero .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .pfp-image {
    left: 50%;
    transform: translateX(-50%);
  }

  .hero .container .Welcome,
  .hero .container h1,
  .hero .container h1 span,
  .hero .container .Describtion,
  .hero .container .Buttons {
    text-align: center;
    margin: 20px 0;
  }

  .hero .container .Buttons .Hire,
  .hero .container .Buttons .cv {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .hero .container .Buttons {
    display: block;
  }
}
