/* Global Variables */
:root {
  --maincolor: #07f;
  --nav-links-color: #333;
  --white: #fff;
  --dark-brown: #222; /* Hero specific color */
}

/* Reset and Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  border: none;
}

body {
  font-family: "Work Sans", sans-serif;
}

::selection {
  background-color: #1a1a1a;
  color: var(--maincolor);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Container Sizes */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header Styles */
header .container {
  padding-top: 32px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

header .container nav {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  right: 0;
  justify-content: flex-end;
}

header .container nav ul {
  display: flex;
}

header .container nav ul li {
  padding-right: 40px;
}

header .container nav ul li a {
  color: var(--nav-links-color);
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
}

header .container nav ul li a.active {
  color: var(--maincolor);
}

header .container nav ul li a:hover {
  color: var(--maincolor);
}

header .container .Chat-container {
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
}

header .container .Chat-container button {
  padding: 17px 33px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  border-radius: 50px;
  font-weight: 600;
  background: var(--maincolor);
  color: var(--white);
  cursor: pointer;
}

header .container .Chat-container button:hover {
  background: #eee;
  color: var(--maincolor);
}

header .container .Toggle-Menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  display: none;
}

header .container .Toggle-Menu img {
  width: auto;
  height: 37px;
  cursor: pointer;
}

@media (max-width: 992px) {
  header .container nav,
  header .container .Chat-container {
    display: none;
  }

  header .container .Toggle-Menu {
    display: flex;
  }
}

/* Hero Section Styles */
.hero {
  padding: 100px 0;
}

.hero .container {
  position: relative;
}

.pfp-image {
  position: absolute;
  right: 0;
  width: fit-content;
  top: 0;
}

.pfp-image img {
  width: 553px;
  height: 560px;
  flex-shrink: 0;
}

.hero .container .hero-content .Welcome,
.hero .container .hero-content h1,
.hero .container .hero-content .Describtion {
  color: var(--dark-brown);
}

.hero .container .hero-content .Welcome {
  font-weight: 600;
  font-size: 25px;
}

.hero .container .hero-content h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
}

.hero .container .hero-content h1 span {
  font-size: 70px;
  color: var(--maincolor);
}

.hero .container .hero-content .Describtion {
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
}

.hero .container .Buttons {
  margin-top: 50px;
}

.hero .container .Buttons .Hire,
.hero .container .Buttons .cv {
  padding: 17px 33px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

.hero .container .Buttons .Hire {
  background: var(--maincolor);
  color: var(--white);
  margin-right: 44.36px;
}

.hero .container .Buttons .cv {
  background: var(--white);
  color: var(--maincolor);
  border: 1px solid var(--maincolor);
}

.hero .container .Buttons .Hire:hover,
.hero .container .Buttons .cv:hover {
  background: #eee;
  color: var(--maincolor);
}

@media (max-width: 1200px) {
  .hero .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .pfp-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .pfp-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .hero .container .hero-content .Welcome,
  .hero .container .hero-content h1,
  .hero .container .hero-content h1 span,
  .hero .container .hero-content .Describtion,
  .hero .container .Buttons {
    text-align: center;
    margin: 20px 0;
  }

  .hero .container .Buttons .Hire,
  .hero .container .Buttons .cv {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .hero .container .Buttons {
    display: block;
  }
}

/* Software Section Styles */
.Software-Section {
  padding: 50px;
  margin-top: 83.5px;
  background-color: #eee;
  width: 100%;
}

.Software-Section .Sofware-content {
  display: flex;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.Software-Section .Sofware-content img {
  width: 20%;
}

@media (max-width: 992px) {
  .Software-Section .Sofware-content {
    flex-direction: column;
    justify-content: center;
  }

  .Software-Section .Sofware-content img {
    width: 280px;
    margin-top: 50px;
  }
}

/* About Me  */
.About-content {
  display: flex;
  padding: 100px 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.About-me-Section .container {
  position: relative;
}

.About-pfp {
  margin-right: 30px;
}
.About-me-Section .container .About-content .About-right .Heading-p {
  color: var(--maincolor);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.About-me-Section .container .About-content .About-right h1 {
  color: var(--dark-brown);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 25px;
}

.About-me-Section .container .About-content .About-right h1 span {
  color: var(--maincolor);
}

.About-me-Section .container .About-content .About-right .About-des {
  color: var(--dark-brown);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  padding-bottom: 100px;
}
.About-me-Section .container .About-content .About-right .About-des span {
  color: var(--dark-brown);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.Swatches {
  display: flex;
  padding-left: 30px;
}

.Skills {
  background: var(--maincolor);
  color: var(--white);
}

.A-E {
  color: var(--maincolor);
  border: 1px solid var(--maincolor);
  background: var(--white);
}

.Skills,
.A-E {
  font-weight: 600;

  font-size: 20px;

  border-radius: 50px;

  padding: 17px 33px;

  margin-right: 25px;
  cursor: pointer;
  white-space: nowrap;
}

.A-E:hover {
  background-color: var(--maincolor);
  color: var(--white);
}

.Work-skills {
  padding-left: 30px;
  padding-top: 45px;
}

.skill-text {
  color: var(--dark-brown);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
}

.progress-bar {
  width: 100%;
  height: 17px;
  border-radius: 10px;
  position: relative;
  background: #eee;
  margin-top: 9px;
  margin-bottom: 25px;
}

.progress-bar::after {
  content: "";
  position: absolute;
  height: 17px;
  border-radius: 10px;
  background: var(--maincolor);
  left: 0;
}

.UI-UX::after {
  content: "";
  width: 90%;
}
.DEV::after {
  content: "";
  width: 80%;
}
.Anim::after {
  content: "";
  width: 70%;
}

@media (max-width: 1200px) {
  .About-content {
    display: block;
  }

  .About-me-Section .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .About-pfp {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .About-pfp img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .About-me-Section .container .About-content .About-right p,
  .About-me-Section .container .About-content .About-right h1,
  .About-me-Section .container .About-content .About-right .Swatches,
  .About-me-Section .container .About-content .About-right .Work-skills {
    text-align: center;
    margin: 20px 0;
  }

  .About-me-Section .container .About-content .About-right .Swatches button {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .About-me-Section .container .About-content .About-right .Swatches {
    display: block;
  }

  .About-me-Section .container .About-content .About-right {
    margin: 0;
  }

  .Swatches {
    padding-left: 0px;
  }

  .Work-skills {
    padding-left: 0px;
  }
}

/* About Me End  */
